<?xml version="1.0"?>
<robot name="patrol_bot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Materials -->
  <material name="Gray">
    <color rgba="0.7 0.7 0.7 1.0"/>
  </material>

  <material name="Black">
    <color rgba="0.0 0.0 0.0 1.0"/>
  </material>

  <material name="Blue">
    <color rgba="0.0 0.0 1.0 1.0"/>
  </material>

  <!-- base link -->
  <link name="base_link">
    <visual>
      <geometry>
        <cylinder radius="0.15" length="0.05"/>
      </geometry>
      <material name="Gray"/>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.15" length="0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="2.0"/>
      <inertia ixx="0.01" ixy="0.0" ixz="0.0"
               iyy="0.01" iyz="0.0"
               izz="0.02"/>
    </inertial>
  </link>

  <!--left wheel -->
  <link name="left_wheel_link">
    <visual>
      <geometry>
        <cylinder radius="0.05" length="0.02"/>
      </geometry>
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <material name="Black"/>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.05" length="0.02"/>
      </geometry>
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
    </collision>
    <inertial>
      <mass value="0.2"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0"
               iyy="0.001" iyz="0.0"
               izz="0.001"/>
    </inertial>
  </link>

  <!-- right wheel -->
  <link name="right_wheel_link">
    <visual>
      <geometry>
        <cylinder radius="0.05" length="0.02"/>
      </geometry>
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <material name="Black"/>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.05" length="0.02"/>
      </geometry>
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
    </collision>
    <inertial>
      <mass value="0.2"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0"
               iyy="0.001" iyz="0.0"
               izz="0.001"/>
    </inertial>
  </link>

  <!-- caster wheel -->
  <link name="caster_wheel_link">
    <visual>
      <geometry>
        <sphere radius="0.025"/> <!-- smaller than before -->
      </geometry>
      <material name="Black"/>
    </visual>
    <collision>
      <geometry>
        <sphere radius="0.025"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.05"/>
      <inertia ixx="0.0001" ixy="0.0" ixz="0.0"
               iyy="0.0001" iyz="0.0"
               izz="0.0001"/>
    </inertial>
  </link>

  <!-- Gazebo lidar sensor  -->
  <link name="laser_link">
    <visual>
      <geometry>
        <cylinder radius="0.03" length="0.05"/>
      </geometry>
      <material name="Blue"/>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.03" length="0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.1"/>
      <inertia ixx="0.0001" ixy="0.0" ixz="0.0"
               iyy="0.0001" iyz="0.0"
               izz="0.0001"/>
    </inertial>
  </link>

  <!-- Joints -->
  <joint name="left_wheel_joint" type="continuous">
    <parent link="base_link"/>
    <child link="left_wheel_link"/>
    <origin xyz="0 0.15 0" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
  </joint>

  <joint name="right_wheel_joint" type="continuous">
    <parent link="base_link"/>
    <child link="right_wheel_link"/>
    <origin xyz="0 -0.15 0" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
  </joint>

  <joint name="caster_wheel_joint" type="fixed">
    <parent link="base_link"/>
    <child link="caster_wheel_link"/>
    <origin xyz="-0.1 0 -0.025" rpy="0 0 0"/>
  </joint>

  <joint name="laser_joint" type="fixed">
    <parent link="base_link"/>
    <child link="laser_link"/>
    <origin xyz="0 0 0.08" rpy="0 0 0"/>
  </joint>


  <!-- Gazebo Differential Drive Plugin for controls (subscribed to cmd_vel) -->
  <!-- Documentation regarding options/topics can be found here... -->
  <!-- https://classic.gazebosim.org/tutorials?tut=ros_gzplugins#:~:text=plugin%3E%0A%3C/gazebo%3E-,Differential%20Drive,-Description%3A%20model -->
  <gazebo>
    <plugin name="diff_drive" filename="libgazebo_ros_diff_drive.so">

      <ros>
        <namespace>/</namespace>
      </ros>

      <!-- Wheel joints -->
      <left_joint>left_wheel_joint</left_joint>
      <right_joint>right_wheel_joint</right_joint>

      <!-- Robot geometry -->
      <wheel_separation>0.30</wheel_separation>
      <wheel_diameter>0.10</wheel_diameter>

      <!-- Frames -->
      <odom_frame>odom</odom_frame>
      <!-- Robot frame to calculate odometry from -->
      <base_frame>base_link</base_frame>

      <!-- Topics-->
      <!-- cmd_vel topic to receive/subscribe to commands -->
      <command_topic>cmd_vel</command_topic>
      <!-- Topic to publish nav_msgs -->
      <odometry_topic>odom</odometry_topic>

      <!-- Publishing -->
      <publish_odom>true</publish_odom>
      <publish_odom_tf>true</publish_odom_tf>

    </plugin>
  </gazebo>


  <!-- Gazebo Laser Sensor -->
  <gazebo reference="laser_link">
    <sensor type="ray" name="laser">
      <pose>0 0 0 0 0 0</pose>

      <ray>
        <scan>
          <horizontal>
            <samples>360</samples>
            <min_angle>-3.14159</min_angle>
            <max_angle>3.14159</max_angle>
          </horizontal>
        </scan>

        <range>
          <min>0.12</min>
          <max>10.0</max>
        </range>
      </ray>
    <plugin name="gazebo_ros_laser" filename="libgazebo_ros_ray_sensor.so">
	  <!-- Manually remapping laser plugin /out to /scan topic since nav2 expects scan -->  
	  <ros> 
		    <remapping>~/out:=scan</remapping>
	  </ros>
	    <frameName>laser_link</frameName>
    </plugin>

    </sensor>
  </gazebo>

</robot>

